<h3><i class="fa fa-fw fa-tags" aria-hidden="true"></i> Topics</h3>

{%- assign tags = site.tags | sort -%}

<div class="tag-cloud">
  <p>{%- for tag in tags -%}
    {%- capture tag_word -%}{{- tag[0] | strip_newlines -}}{%- endcapture -%}
    {%- assign post_count = tag | last | size -%}
    {%- if post_count >= 15 -%}
      {%- assign size = 'extralarge' -%}
    {%- elsif post_count >= 9 -%}
      {%- assign size = 'large' -%}
    {%- elsif post_count >= 4 -%}
      {%- assign size = 'medium' -%}
    {%- else -%}
      {%- assign size = 'small' -%}
    {%- endif -%}
    {% capture tag_link_url %}{{- tag_word | slugify | prepend: "#" | prepend: site.tag_archive.path | absolute_url -}}{% endcapture %}

    <a href="{{ tag_link_url }}" class="tag-cloud-item {{ size }}" rel="tag">{{ tag_word }}</a>
  {%- endfor -%}
  </p>
</div>